/* curs 2 */


/* If desktop */
@media only screen and (min-width: 768px){
	h1{
		font-size:24px;
	}
	form{
		background-color: antiquewhite;
		max-width: 950px;
		color: black;
	}
	form fieldset{
		margin-bottom: 0;
	}
	form h1, form legend, form label{
		color:black;
	}
}

/* If mobile */
@media only screen and (max-width: 768px){

	h1{
		font-size:18px;
	}
}